<form [formGroup]="form">
  <label for="dateRangeFrom">Datetime range start (click, then press 'Set' to modify):</label>
  <input
    formControlName="dateRange"
    selectMode="rangeFrom"
    [owlDateTimeTrigger]="datePickerFrom"
    [owlDateTime]="datePickerFrom"
    style="width: 100%; color: cornflowerblue"
    id="dateRangeFrom"
    matInput
  />
  <owl-date-time #datePickerFrom [hour12Timer]="true"></owl-date-time>

  <label for="dateRangeTo">Datetime range end</label>
  <input
    formControlName="dateRange"
    selectMode="rangeTo"
    [owlDateTimeTrigger]="datePickerTo"
    [owlDateTime]="datePickerTo"
    style="width: 100%; color: cornflowerblue"
    id="dateRangeTo"
    matInput
  />
  <owl-date-time #datePickerTo [hour12Timer]="true"></owl-date-time>
</form>
